.not-found {
  .google {
    font-family: 'PlayfairDisplay,Helvetica,Arial', sans-serif;
    font-weight: 400;
    font-size: 10em;
    color: #1a1a1a;
    margin-bottom: 10px;
  }
  .texts {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 30px;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 1;
  }
}