/server/public.pub
/server/private
/server/rsa_generator.bat
/server/node_modules
/server/scratch
/server/.env
/server/package-lock.json
/client/.env
/client/node_modules
/client/package-lock.json
.idea
.git
.eslintignore