.card {
  padding: 0;
  height: 100%;
  width: 370px;
  max-width: 500px;
  border: 3px solid var(--border-theme-color);
  opacity: 1;
  visibility: visible;
  margin-top: 0;
  overflow: hidden;
  //transition: 0.3s;
  transform-origin: center;
  transition: filter 200ms linear, transform 200ms linear;
  &:hover {
    position: relative;
    transform: scale(1.05) translateZ(0);
    z-index: 1000;
    //box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }
  .topic {
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    margin-left: 10px;
  }
  &.card-width-mobile {
    width: 100%;
    max-width: 100%;
  }

  .language {
    font-size: 40px;
    text-align: left;
    width: min-content;
    margin: 0 auto;
    line-height: 44px;
  }
  .language-list {
    padding-left: 12px;
  }
  .language-list h6 {
    transform: translate(-5px, -8px);
  }
  .language .language-list::marker {
    content: '•';
  }
  .title-href-available {
    text-decoration: #cc4700;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: baseline;
    span {
      margin-right: 5px;
    }
  }
  .title-href-non-available {
    text-decoration: none;
    cursor: default;
    color: black;
  }
  .title-href-non-available:hover,
  .title-href-non-available:visited,
  .title-href-non-available:link,
  .title-href-non-available:active {
    text-decoration: none;
    cursor: default;
  }
  a {
    color: #cc4700;
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
  }
  a:hover {
    color: var(--bts-theme-color);
    text-decoration: underline;
  }
  .avatarBackground {
    background: var(--bts-theme-color);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbcabb', endColorstr='#a2c8ec', GradientType=1 );
    a {
      cursor: pointer;
      color: black;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: red;
        transition: all 0.3s;
      }
    }
    .bio {
      cursor: help;
    }
    .github-card {
      text-align: center;
      position: relative;
    }
    .github-card ul {
      font-size: 8px;
      color: #707070;
      list-style-type: none;
      margin: 0;
      padding: 0;
      zoom: 1;
    }
    .github-card ul:after {
      display: block;
      content: '';
      clear: both;
    }
    .github-card .status li {
      display: flex;
      float: right;
      padding: 10px;
    }
    .github-card .status strong {
      display: block;
      color: #292f33;
      font-size: 10px;
      line-height: 1.6;
    }
    .github-card .status a {
      transition: transform 0.2s;
      color: #707070;
      position: relative;
    }
    .github-card .status a:hover {
      color: #4183c4;
      transform: scale(1.5);
    }
  }
  .trunctuatedTexts {
    overflow: auto;
  }
  .details {
    //background-color: var(--instagram-theme-color);
    height: 35px;
    text-align: center;
    border: 3px solid #000000;
    justify-content: center;
    margin: 10px;
    border-radius: 4px;
    background: linear-gradient(45deg,#d350db,teal,#d350db);
    background-size: 300% 300%;
    transition: all .3s;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    p {
      display: inline-block;
      text-align: center;
      font-size: 16px;
      text-decoration: none;
      color: black;
    }
    &:hover {
      animation: gradient 10s ease infinite;
      background-position: -60px;
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  }
  .space-around {
    justify-content: space-around;
  }
  .space-between {
    justify-content: space-between;
  }
  .space-center {
    justify-content: center;
  }
  .btn-clear {
    border: none;
    background: transparent;
    cursor: pointer;
  }

  .nav-link {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
}
.stargazer-card-container {
  text-align: center;
  border: solid;
  border-radius: 5px;
  max-width: fit-content;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  svg:hover {
    path {
      fill: black;
      stroke: black;
      stroke-width: 4px;
      transform: scale(0.95);
      transition: all ease 0.3s;
    }
  }
  .star-container {
    display: flex;
    text-align: center;
    margin-top: 1px;
    tab-index: 0;
    text-decoration: none;
    color: blue;
    &:hover {
      text-decoration: underline;
      color: red;
    }
    i {
      position: absolute;
      display: block;
      width: 5px;
      height: 10px;
      background: red;
      opacity: 0;
    }
    &.confetti {
      @for $i from 1 through 50 {
        i:nth-of-type(#{$i}) {
          transform: translate3d(random(190) - 100 + px, random(200) - 100 + px, 0) rotate(random(360) + deg);
          background: hsla(random(360), 100%, 50%, 1);
          animation: bang 700ms ease-out forwards;
          opacity: 0;
        }
      }
    }
    @keyframes bang {
      from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
  }
  .star-counts-container {
    border-left: solid;
    cursor: pointer;
    .star-counts-text {
      text-align: center;
      cursor: pointer;
      margin-left: 5px;
      margin-right: 5px;
      font-size: 15px;
      display: inline;
      text-decoration: none;
      color: blue;
      &:hover {
        text-decoration: underline;
        color: red;
      }
    }
  }
}
.sticky-column-table {
  position: sticky;
  top: 0;
  z-index: 9999;
  background: white;
}
.bg-light {
  background: var(--background-theme-card-color);
  border-radius: 3px;
}
.bg-dark {
  background: rgb(36, 40, 42);
  border-radius: 3px;
}
.card .glow{
  position: absolute;
  display: block;
}
.card .glow:nth-child(1){
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg,transparent,var(--border-theme-color));
  animation: animate1 1s linear infinite;
}
@keyframes animate1{
  0%{
    left: -100%;
  }
  50%,100%{
    left: 100%;
  }
}
.card .glow:nth-child(2){
  top: -100%;
  right: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(180deg,transparent,var(--border-theme-color));
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes animate2{
  0%{
    top: -100%;
  }
  50%,100%{
    top: 100%;
  }
}
.card .glow:nth-child(3){
  bottom: 0;
  right: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(270deg,transparent,var(--border-theme-color));
  animation: animate3 1s linear infinite;
  animation-delay: 0.50s;
}
@keyframes animate3{
  0%{
    right: -100%;
  }
  50%,100%{
    right: 100%;
  }
}


.card .glow:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 3px;
  height: 100%;
  background: linear-gradient(360deg,transparent,var(--border-theme-color));
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}
@keyframes animate4{
  0%{
    bottom: -100%;
  }
  50%,100%{
    bottom: 100%;
  }
}
.card:not(:hover) .card{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}
.shine-container {
  /*  styling */
  display: inline-block;
  width: 100%;
  /*  centering */
  position: absolute;
  text-align: center;
  transform: translate(-50%, 0%);
}
.shine {
  /*   positioning */
  position: absolute;
  opacity: 0;
  bottom: 0;
  left: 0;
  /*   gradient   */
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.03) 1%, rgba(255,255,255,0.6) 30%, rgba(255,255,255,0.85) 50%, rgba(255,255,255,0.85) 70%, rgba(255,255,255,0.85) 71%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(1%,rgba(255,255,255,0.03)), color-stop(30%,rgba(255,255,255,0.85)), color-stop(50%,rgba(255,255,255,0.85)), color-stop(70%,rgba(255,255,255,0.85)), color-stop(71%,rgba(255,255,255,0.85)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.03) 1%,rgba(255,255,255,0.6) 30%,rgba(255,255,255,0.85) 50%,rgba(255,255,255,0.85) 70%,rgba(255,255,255,0.85) 71%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.03) 1%,rgba(255,255,255,0.6) 30%,rgba(255,255,255,0.85) 50%,rgba(255,255,255,0.85) 70%,rgba(255,255,255,0.85) 71%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.03) 1%,rgba(255,255,255,0.6) 30%,rgba(255,255,255,0.85) 50%,rgba(255,255,255,0.85) 70%,rgba(255,255,255,0.85) 71%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.03) 1%,rgba(255,255,255,0.6) 30%,rgba(255,255,255,0.85) 50%,rgba(255,255,255,0.85) 70%,rgba(255,255,255,0.85) 71%,rgba(255,255,255,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

  /*  forming the shine element
      play around with the width, skew and gradient to get different effects
    */
  width: 30%;
  height: 100%;
  transform: skew(-10deg,0deg);
  -webkit-transform: skew(-10deg,0deg);
  -moz-transform: skew(-10deg,0deg);
  -ms-transform: skew(-10deg,0deg);
  -o-transform: skew(-10deg,0deg);

  /*  animating it  */
  animation: move 2s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  -webkit-animation: move 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
  -moz-transform: skew(-10deg,0deg);
  -moz-animation: move 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 1s;
  -ms-transform: skew(-10deg,0deg);
  -ms-animation: move 2s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 1s;
  -o-transform: skew(-10deg,0deg);
  -o-animation: move 2s;
  -o-animation-iteration-count: infinite;
  -o-animation-delay: 1s;
}

/*  */
@keyframes move {
  0%  { left: 0; opacity: 0; }
  5% {opacity: 0.0}
  48% {opacity: 0.2}
  80% {opacity: 0.0}
  100% { left: 90%}
}

@-webkit-keyframes move {
  0%  { left: 0; opacity: 0; }
  5% {opacity: 0.0}
  48% {opacity: 0.2}
  80% {opacity: 0.0}
  100% { left: 82%}
}

@-moz-keyframes move {
  0%  { left: 0; opacity: 0; }
  5% {opacity: 0.0}
  48% {opacity: 0.2}
  80% {opacity: 0.0}
  100% { left: 88%}
}

@-ms-keyframes move {
  0%  { left: 0; opacity: 0; }
  5% {opacity: 0.0}
  48% {opacity: 0.2}
  80% {opacity: 0.0}
  100% { left: 82%}
}

@-o-keyframes move {
  0%  { left: 0; opacity: 0; }
  5% {opacity: 0.0}
  48% {opacity: 0.2}
  80% {opacity: 0.0}
  100% { left: 82%}
}
.details--spinner {
  position: relative;
  z-index: 0;
  overflow: hidden;
}
.details--spinner::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #399953;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5);
  animation: rotate 4s linear infinite;
}

.details--spinner::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: var(--background-theme-card-color);;
  border-radius: 5px;
}
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}
