#box-stat {
    box-sizing: content-box;
    width: fit-content;
    height: fit-content;
    border: 3px solid black;
    text-align: center;
    display: inline-flex;
    background-color: white;
    z-index: 10;
    color: black;
}
/*position fixed so that whenever you scroll, it will follow it
An element with position:fixed is fixed with respect to the viewport.
 It stays where it is, even if the document is scrolled*/
#container-stat {
    position:fixed;
    left:55px;
    z-index: 10;
}
