.result {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min-content auto;
  grid-gap: 12px;
  height: 50px;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #f2dede;
  cursor: pointer;
  overflow: hidden;
}
.result-languages {
  height: 50px;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  border-left: solid;
  border-right: solid;
  border-bottom: 1px solid #f2dede;
  text-align: center;
  justify-content: center;
}
.queue {
  height: 50px;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}
