.container {
    text-align: center;
}
.loading {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #000000;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    width: 50px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes fadeInImg {
    from{
        opacity: 0
    }
    to {
        opacity: 1
    }
}
.img-loading {
    opacity: 0;
    width: 100%;
    height: auto;
}
.img-loaded {
    //animation: fadeInImg cubic-bezier(0.23, 1, 0.32, 1) 1;
    position: relative;
    opacity: 1;
    //animation-fill-mode: forwards;
    //animation-duration: 0.7s;
    //animation-delay: 0.1s;
    max-width: 350px;
    height: auto;
    //max-width: 340px;
    //max-height: 100%;
    .img-loaded-hide {
        opacity: 0;
    }
}
.slides {
    height: 100%;
    width: 100%;
    white-space: nowrap;
    position: relative;
    transform: translate(1%, 20%);
    cursor: grab;
    &.grabbing{
        cursor: grabbing;
    }
    .slides-inner {
        top: 0;
        left: 0;
        position: relative;
        .slide{
            top: 50%;
            display: inline-block;
            margin: 2em 1em;
            width: 41vw; //Change this for grabbing to work
            padding: 1rem;
            background-size: cover;
            background-position: center;
            .images {
                max-width: 800px;
            }
        }
    }
}
.slide-close-button {
    float: right;
    cursor: pointer;
    background: aliceblue;
    margin: 10px;
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
}
